@model CrudUsingADO.Models.EmployeeModel



<h1>CreateEmployee</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateNewEmp">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Employee_Code" class="control-label"></label>
                <input asp-for="Employee_Code" class="form-control" />
                <span asp-validation-for="Employee_Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee_Name" class="control-label"></label>
                <input asp-for="Employee_Name" class="form-control" />
                <span asp-validation-for="Employee_Name" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project_Assigned" class="control-label"></label>
                <input asp-for="Project_Assigned" class="form-control" />
                <span asp-validation-for="Project_Assigned" class="text-danger"></span>
            </div>
            <br />
            <div>
                <label>Enter PAN Card No. </label>
                <input name="txtPANCard" type="text" id="txtPANCard" class="PAN" />
                <span id="lblPANCard" class="error">Invalid PAN Number</span>
               
            </div>
            <div class="form-group">
                <input type="button" id="btnSubmit" value="Submit" onclick="ValidatePAN()" />
            </div>

            <hr />

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"  />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script type="text/javascript">
    function ValidatePAN() {
        var txtPANCard = document.getElementById("txtPANCard");
        var lblPANCard = document.getElementById("lblPANCard")
        var regex = /([A-Z]){5}([0-9]){4}([A-Z]){1}$/;
        if (regex.test(txtPANCard.value.toUpperCase())) {
            lblPANCard.style.visibility = "hidden";
            return true;
        } else {
            lblPANCard.style.visibility = "visible";
            return false;
        }
    }
</script>
